.MyBody{
	margin: 25px;
}
.inline-block{
	display:inline-block;
}
.logoIMG{
vertical-align: middle;
}
.nav-li-style{
	 margin: 3px;
    padding: 15px;
	display:inline-block;
	vertical-align: sub;
   
}
.color-chosen{
	color: #F5938D
}
.banner{
	width: 1000px;
	margin: 10px;
	margin-left: 1px;
}
.featuredP{
	padding-top: 90px;
	padding-bottom: 20px;
}
.text1{
	padding-top: 15px;
	padding-bottom: 5px;
	color: #3C57A6;
}
.text11{
vertical-align: top;
margin-top: 10px;
margin-left: 10px; 
height: 138px;
width: 230px;
}
.item1{
	width: 400px;
	background: #F1F1F1;
}
.text2{
	padding-top: 12px;
	padding-bottom: 10px;
	color: #3C57A6;
}


.item2{
	width: 400px;
	height: 185px;
    margin-left: 15px;

	background: #F1F1F1
}

.logo2{

}
.text22{
width: 300px;
vertical-align: top;
}


.footerLogo{
	margin-top: 20px;
	margin-right: 20px;
}

.Img{
	margin-top: 20px;
	width: 48px;
}

.firstImg{
	width:  270px;
}
article{
margin: 30px auto 60px;	
}
.article{
	margin-top:15px;
	margin-bottom: 30px;
	font-size: 20px;
}
.parag1{
width: 920px;
vertical-align: top;
margin-left: 30px;
color: #000000

}
.ls{
	margin-bottom: 15px;
}
.imgM{
	margin-top: 20px;
}

.text-h3{
color: #667AB6;
margin-bottom: 5px;

}
.contact-li{
	margin-bottom: 5px;
}

.contact{
	height: 400px;
	padding-top: 45px;
	padding-left: 20px;
	margin-top: 80px;
	background: #E6E6E6;
}
.contactD{
	margin-left: 20px;
	margin-top: 2px;
	margin-right: 50px;

}


