html body{
	width: 100%;
	height: 100%;

}

p{
	font-family: 'Playfair Display', serif;
}
.logo{
	float: left;
	margin-left: 10%;
	margin-right: 5%;
	vertical-align: baseline;
}

.head{

	margin-top: 2%;
	display: flex;
	flex-wrap: nowrap;
}
.navigation{
	margin-top: 1%;
	width: 100%;
	vertical-align: bottom;
	margin-left: 10%;
}

.nav-ul-li{
	float: right;
	margin-left: 5%;
	margin-right: 5%;
}


a{
	color: #616161;
 font-family: 'Ubuntu', sans-serif;
}



.head{
	width: 100%;
}


.float-left{
	float: left;
}
.float-right{
	float: right;
}
.mainPic img{
	 padding-top: 3.5%;
    padding-left : 5.5%;
    padding-bottom: 3.5%;
    padding-right: 4.5%;
	padding-bottom:  5%;
	width: 90%;
	vertical-align: top;
}


.color{
	color:#f0f0f0;
}




.Flex{
	flex-wrap: nowrap;
	display: flex;
	justify-content: space-between;
}



.gray-box div{
	margin-top: 3%; 
	display: flex;
	justify-content: center; 
}

.textBox form button{
	border: none;
	background: transparent;
	right: 4%;
	top: 10%;
}
.textBox{
	text-align: center;
	padding-top: 5%;
}
.footer{
	margin-top: 8%;
	width: 100%;
	height: 120px;
	background: #f0f0f0;
}


.mainDiv{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: nowrap;
	
}
ul{
	margin-right: 5%; 
	display: flex;
}
.footer-li{
	margin-left: 6%;
	margin-right: 6%; 
}
