$colorAsh:#858585;
$colorB:rgba(255, 255, 255, 0.8);
$colorP:#fc8a4a;
$paddingLeft:99px;
$paddingRight:95px;
$paddingTop:12px;
$paddingBottom:0px;
$tabHeight:90px;
$tabWidth:90px;






$fontSizeLarge:25px;
$fontSizeMed:20px;
$fontSizeSmall:14px;